@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#banner0").addClass("hidden"); // this is displayed on the Splash page
        $("#banner1").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        modalAjax();
    });
</script>

<div class="pageTitle">Cats</div>



<h2>What the Hell is a "Nebelung?"</h2>




<p>Nebelungs are a breed of cat. A breed you probably never heard of before. I think they stopped making Nebelungs when someone realized how clumsy and annoying and stupid they are.</p>


<div class="aboutMeClusterRight" style="width:24%;">

    <img src="../Content/images/aboutme/Cats/CatStills_030.jpg" style="float: left; width: 100%; " />

    <img src="../Content/images/aboutme/Cats/CatStills_031.jpg" style="float: left; width: 100%;" />
    <img src="../Content/images/aboutme/Cats/CatStills_032.jpg" style="float: left; width: 100%;" />
    <img src="../Content/images/aboutme/Cats/CatStills_033.jpg" style="float: left; width: 100%;" />

</div>

<p>I mentioned to Russ that I was thinking about getting a cat. He said "I know a guy who's cat just had kittens." So I thought about it and I figured "why not take a chance on the universe and say yes? What's the worst that could happen?"</p>




<p>So, one day I drove over and some guy named Curtis handed me a box out in the parking lot behind the dumpster. Inside the box were a couple kittens They looked normal, more or less, so I took them home.</p> <p>Big mistake. I started noticing problems almost immediately. Right from the beginning I could see signs that something wasn't right. They'd try to hide it, sure. But, I was patient and watched. I learned their rhythms and their patterns. I saw what piqued their interest. I grew to know them and all I can say is they are pure evil.</p>



<h2>Babydoll</h2>

<div class="aboutMeClusterLeft">
    <img src="../Content/images/aboutme/Cats/CatStills_034.jpg" style="float: left; width: 100%;" />
    <img src="../Content/images/aboutme/Cats/CatStills_035.jpg" style="float: left; width: 100%;" />
    <img src="../Content/images/aboutme/Cats/CatStills_036.jpg" style="float: left; width: 100%;" />
</div>

<div class="aboutMeClusterRight">
    <img src="../Content/images/aboutme/Cats/CatStills_037.jpg" style="float: left; width: 50%;" />
    <img src="../Content/images/aboutme/Cats/CatStills_038.jpg" style="float: left; width: 50%; clear:left;" />
    <img src="../Content/images/aboutme/Cats/CatStills_039.jpg" style="float: left; width: 50%;" />
    <img src="../Content/images/aboutme/Cats/CatStills_040.jpg" style="float: left; width: 50%; clear: left;" />


</div>
<div class="aboutMeClusterLeft">
    <img src="../Content/images/aboutme/Cats/CatStills_016.jpg" style="float: left; width: 50%;" />
    <img src="../Content/images/aboutme/Cats/CatStills_024.jpg" style="float: left; width: 50%;" />
    <img src="../Content/images/aboutme/Cats/CatStills_025.jpg" style="float: left; width: 50%;" />

    <img src="../Content/images/aboutme/Cats/CatStills_017.jpg" style="float: left; width: 50%;" />
    <img src="../Content/images/aboutme/Cats/CatStills_005.JPG" style="float: left; width: 50%;" />
</div>

