@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#banner0").addClass("hidden"); // this is displayed on the Splash page
        $("#banner1").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        modalAjax();
    });
</script>

<div class="pageTitle">Cats</div>



<h2>What the Hell is a "Nebelung?"</h2>




<p>Nebelungs are a breed of cats. A breed you probably never heard of before. I think they stopped making Nebelungs when someone realized how clumsy and annoying and stupid they are.</p>


<div class="aboutMeClusterRight">
    <img src="../Content/images/aboutme/Cats/CatStills_001.JPG" style="float: left; width: 100%;" />
    <img src="../Content/images/aboutme/Cats/CatStills_002.jpg" style="float: left; width: 100%; " />
    <img src="../Content/images/aboutme/Cats/CatStills_003.jpg" style="float: left; width: 100%;clear:left;" />
    <img src="../Content/images/aboutme/Cats/CatStills_004.jpg" style="float: left; width: 100%;" />

</div>

<p>I mentioned to Russ that I was thinking about getting a cat. He said "I know a guy who's cat just had kittens." So I thought about it and I figured "what's the worst that could happen?"</p>


<div class="aboutMeClusterLeft">
    <img src="../Content/images/aboutme/Cats/CatStills_006.jpg" style="float: left; width: 100%;" />
    <img src="../Content/images/aboutme/Cats/CatStills_007.jpg" style="float: left; width: 100%;" />
    
</div>

<p>So, one day I drove over and some guy named Curtis handed me a box out in the parking lot behind the dumpster. Inside the box were a couple kittens They looked normal, more or less so I took them home.</p> <p>Big mistake. I started noticing signs of insanity almost immediately.</p>

<img src="../Content/images/aboutme/Cats/CatStills_005.JPG" class="aboutMeFigureLeft" />



<h2>Babydoll</h2>
<p></p>
<div class="aboutMeClusterRight">
    <img src="../Content/images/aboutme/Cats/CatStills_018.jpg" style="float: left; width: 100%;" />
    <img src="../Content/images/aboutme/Cats/CatStills_019.jpg" style="float: left; width: 100%;" />
    <img src="../Content/images/aboutme/Cats/CatStills_020.jpg" style="float: left; width: 100%;" />
    <img src="../Content/images/aboutme/Cats/CatStills_021.jpg" style="float: left; width: 100%;" />
</div>

<img src="../Content/images/aboutme/Cats/CatStills_016.jpg" class="aboutMeFigureRight" />


<p></p>
<img src="../Content/images/aboutme/Cats/CatStills_017.jpg" class="aboutMeFigureLeft" />


