@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#banner0").toggleClass("hidden");
        $("#banner6").removeClass("hidden");
        $("#navsub").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        modalAjax();
    });
</script>

<div class="pageTitle">Hello Cruel World</div>


<p>This site exists for little reason other than as a way to show off my web development skills. Such as they are. </p>

<div class="aboutMeFigureRight">
    <img src="~/Content/images/aboutme/Military/Military_SR71_05.jpg" />
</div>

<p> All the video and photography you see on this site was captured by me, except for the stuff that wasn't.</p>

<p>This site did not come from one of those "build-your-own-website" things. I built this website from scratch, myself, with only my bare hands and grim, relentless, determination.</p>

<div class="aboutMeFigureLeft">
    <img src="~/Content/images/aboutme/Cats/CatStills_001.JPG" />
</div>

<p>That's how guys like us roll.  We don't need Squarespace or Bootstrap. Give us a code editor and Developer Tools and that's it. That's how we do it, we're old school.  Later, maybe I'll go re-build a carburator.</p>




<p>Using only native ingenuity and Visual Studio I was able to build a site that is already outdated and of little use to anyone. The one feature it does have is a six character web name. </p>

<div class="aboutMeStackRight">
    <img src="~/Content/images/aboutme/Backyard/BackyardFlowers_01.JPG" />
</div>

<p>Pretty much all the web names are taken. Especially the short ones. A web name that is 6 characters and is easy to remember is a pretty cool thing if you're a web developer. You probably aren't a web developer but, if you were, you'd probably say it was pretty swell.</p> 



<p>'YouTube is the place I always send people to for any creative stuff.  </p>



<p>This site was recently re-built as an MVC site to allow the addition of back-end capabilities. Currently there's nothing to do on the back end other than log in but, one day I'll get around to building the next killer app.</p>



@*
    <h1>h1 - Text size example</h1>
    <h2>h2 - Text size example</h2>
    <h3>h3 - Text size example</h3>
    <h4>h4 - Text size example</h4>
    <h5>h5 - Text size example</h5>
    <h6>h6 - Text size example</h6>
    <p>p - Text size example</p>
*@

<script>

    //this function, "modalAjax" is probably defined elsewhere..
    function modalAjax() {
        $("img").on('click', function () {
            $("#mymodal").show();
            var meeks = $(this).attr('src');
            $("#innerModalImage").attr('src', meeks);

        })
        $(this).mousedown(function () {
            $("#mymodal").hide();
        });

        $(document).mouseup(function (e) {
            if (!$("#myInnerModal").is(e.target) && $("#myInnerModal").has(e.target).length === 0) {
                $('#mymodal').hide();
            }
        })

    };
</script>
