@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#banner0").addClass("hidden"); // this is displayed on the Splash page
        $("#banner1").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        $("#navsub").removeClass("hidden");
        modalAjax();
    });
</script>

<div class="pageTitle">Cats</div>



<h2>What the Hell is a "Nebelung?"</h2>



<div class="aboutMeStackLeft">
    <img src="../Content/images/aboutme/Cats/CatsStills_041.jpg" />
    <img src="../Content/images/aboutme/Cats/CatsStills_042.jpg" style="" />
    <img src="../Content/images/aboutme/Cats/CatsStills_043.jpg" />
    <img src="../Content/images/aboutme/Cats/CatsStills_044.jpg" />        
    <img src="../Content/images/aboutme/Cats/CatsStills_045.JPG" />
    <img src="../Content/images/aboutme/Cats/CatsStills_047.JPG" />
    <img src="../Content/images/aboutme/Cats/CatsStills_048.JPG" />
</div>
<p>Nebelungs are a breed of cat. A breed you probably never heard of before. I think they stopped making Nebelungs when someone realized how genetically inferior they are to just about every other cat breed out there. Maybe "genetically inferior" is the wrong phrase. Oblivious might be a better word. Either way, there is no way to watch either of these cats very long and not come away thinking "Those are some dumb-ass cats."</p>
<p> Aside from their intellectual deficincies this breed is  almost comically ugly with knarly, misshapen heads and dull hazy eyes.</p>




<p>I mentioned to Russ that I was thinking about getting a cat. He said "I know a guy who's cat just had kittens." So I thought about it and I figured "why not take a chance on the universe and say yes? What's the worst that could happen?"</p>




    <div class="aboutMeStackRight">

        <img src="../Content/images/aboutme/Cats/CatsStills_tall_060.JPG" />
        <img src="../Content/images/aboutme/Cats/CatsStills_tall_061.jpg" />
        <img src="../Content/images/aboutme/Cats/CatsStills_tall_062.jpg" />
        <img src="../Content/images/aboutme/Cats/CatsStills_tall_063.jpg" />
    </div>

<p>So, one day I drove over and some guy named Curtis handed me a box out in the parking lot behind the dumpster. Inside the box were a couple kittens They looked normal, more or less, so I took them home.</p> <p>Big mistake. I started noticing problems almost immediately. Right from the beginning I could see signs that something wasn't right. They'd try to hide it, sure. But, I was patient and watched. I learned their rhythms and their patterns. I saw what piqued their interest. I grew to know them and all I can say is they are pure evil.</p>

<div class="aboutMeClusterLeft"> 

    <img src="~/Content/images/aboutme/Cats/CatStills_030_BA2C2693.jpg" />

    <img src="~/Content/images/aboutme/Cats/CatStills_031_BA2C2923.jpg" />
    <img src="~/Content/images/aboutme/Cats/CatStills_032_BA2C2923b.jpg" />
    <img src="~/Content/images/aboutme/Cats/CatStills_032_BA2C2946.jpg" />

</div>

<h2>Babydoll</h2>

<div class="aboutMeStackLeft">
    
    <img src="../Content/images/aboutme/Cats/CatStills_036_IMG_0939.jpg" />
    <img src="../Content/images/aboutme/Cats/CatStills_037_IMG_1101.jpg" />
    <img src="../Content/images/aboutme/Cats/CatStills_038_IMG_1194.jpg" />
    <img src="../Content/images/aboutme/Cats/CatStills_039_IMG_1205.jpg" />
    <img src="../Content/images/aboutme/Cats/CatStills_040_IMG_1528.jpg" />
</div>
    <p>You will probably hear stories about mysterious creatures of the fog and mist but, let me tell you, that's all a load of PR and marketing. The grim reality is these sinister, cunning, malevolent demons are straight out of the fiery acid pits of Hell. What makes them truly terrible is their casual attitude. They do the monstrous things they do with a detached, aloof casualness meant to illustrate how utterly insignificant you are. </p>



    

