@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#banner0").toggleClass("hidden");
        $("#banner6").removeClass("hidden");
        $("#navsub").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        modalAjax();
    });
</script>

<div class="pageTitle">Hello Cruel World</div>

@*<h1>h1 - Text size example</h1>
<h2>h2 - Text size example</h2>
<h3>h3 - Text size example</h3>
<h4>h4 - Text size example</h4>
<h5>h5 - Text size example</h5>
<h6>h6 - Text size example</h6>*@

<div class="aboutMeStackRight">
    <img src="~/Content/images/aboutme/Military/Military_SR71_05.jpg" />
    <img src="~/Content/images/aboutme/HomeImprovement/HomeImprovement_10.JPG" />
    <img src="~/Content/images/aboutme/Cats/CatStills_015JPG.JPG" />

</div>

<p>This site exists for little reason other than as a way to show off my web development skills. All the video and photography you see on this site was captured by me, except for the stuff that wasn't.  This site did not come from one of those "build-your-own-website" things. I built it myself with my own two hands, like a real American.</p>
<div class="aboutMeStackLeft">
    <img src="~/Content/images/aboutme/HomeImprovement/HomeImprovement_11.JPG" />
    <img src="~/Content/images/aboutme/Backyard/myBackyard_BA2C3391.jpg" />
    <img src="~/Content/images/aboutme/Cats/CatStills_001.JPG" />

</div>
<p> It recently was re-built as an MVC site to allow the addition of back-end capabilities. Currently there's nothing to do on the back end other than log in but, one day I'll get around to building something worth sharing.</p>

<br class="clearfix" />





<script>

    //this function, "modalAjax" is probably defined elsewhere..
    function modalAjax() {
        $("img").on('click', function () {
            $("#mymodal").show();
            var meeks = $(this).attr('src');
            $("#innerModalImage").attr('src', meeks);

        })
        $(this).mousedown(function () {
            $("#mymodal").hide();
        });

        $(document).mouseup(function (e) {
            if (!$("#myInnerModal").is(e.target) && $("#myInnerModal").has(e.target).length === 0) {
                $('#mymodal').hide();
            }
        })

    };
</script>
