@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#banner0").addClass("hidden"); // this is displayed on the Splash page
        $("#banner1").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        $("#navsub").removeClass("hidden");
        modalAjax();
    });
</script>

<div class="pageTitle">Cats</div>



<h2>What the Hell is a "Nebelung?"</h2>

<div class="aboutMeStackLeft">

    <img src="../Content/images/aboutme/Cats/CatsStills_tall_060.JPG" />
    <img src="../Content/images/aboutme/Cats/CatsStills_tall_062.jpg" />
    <img src="../Content/images/aboutme/Cats/CatsStills_tall_063.jpg" />
</div>


<p>Nebelungs are a breed of cat. A breed you probably never heard of before. If you look up Nebelungs on the internet you will probably hear stories about mysterious creatures of the fog and mist but, let me tell you, that's all a load of PR and marketing. I think they stopped making Nebelungs when someone realized how genetically inferior they are to just about every other cat breed out there.  there is no way to watch either of these cats very long and not come away thinking "Those are some dumb cats."</p>
<p> Aside from their intellectual deficincies this breed is known for their gnarly, misshapen heads and dull hazy eyes.</p>
<p>And, they smell. I don't know if they roll around in the compost heap or some decomposing corpse but man, do they stink. '</p>

<div class="aboutMeStackRight">
    <img src="../Content/images/aboutme/Cats/CatsStills_041.jpg" />
    @*<img src="../Content/images/aboutme/Cats/CatsStills_042.jpg" style="" />*@
    <img src="../Content/images/aboutme/Cats/CatsStills_043.jpg" />
    <img src="../Content/images/aboutme/Cats/CatsStills_044.jpg" />
    <img src="../Content/images/aboutme/Cats/CatsStills_045.JPG" />
</div>

<p>I was at Carl's one evening and mentioned to Russ that I was thinking about getting a cat. He said "I know a guy who's cat just had kittens." So I thought about it and I figured "why not take a chance on the universe and say: "Yes. Yes, I'll take your friend's off-brand, back alley kittens home and care for them. What's the worst that could happen?"</p>

<p>So, one day I drove over and Curtis handed me a box out in the parking lot behind the dumpster. Inside the box were a couple kittens.  They looked--more or less--normal, so I took them home.</p> 

<p>I started noticing problems almost immediately. Right from the beginning I could see that something wasn't right.They were just kittens and tiny, so I ignored the dread, that was growing inside me. </p>

<p> They'd try to hide it, sure. But, I was patient and watched. I learned their rhythms and their patterns. I saw what piqued their interest. I grew to know them intimately and all I can say is they are the blackness at the end of time. But, cute. Awfully, awfully cute.</p>



@*<h2>Babydoll</h2>*@

@*<div class="aboutMeStackRight">

    <img src="../Content/images/aboutme/Cats/CatStills_036_IMG_0939.jpg" />
    <img src="../Content/images/aboutme/Cats/CatStills_037_IMG_1101.jpg" />
    <img src="../Content/images/aboutme/Cats/CatStills_038_IMG_1194.jpg" />
    <img src="../Content/images/aboutme/Cats/CatStills_039_IMG_1205.jpg" />
    <img src="../Content/images/aboutme/Cats/CatStills_040_IMG_1528.jpg" />
</div>*@

<p>The grim reality is these sinister, cunning, malevolent demons are do the monstrous things they do with a detached, callous indifference illustrating without words how utterly insignificant you are. </p>

@*<div class="aboutMeClusterLeft">

    <img src="~/Content/images/aboutme/Cats/CatStills_030_BA2C2693.jpg" />

    <img src="~/Content/images/aboutme/Cats/CatStills_031_BA2C2923.jpg" />
    <img src="~/Content/images/aboutme/Cats/CatStills_032_BA2C2923b.jpg" />
    <img src="~/Content/images/aboutme/Cats/CatStills_032_BA2C2946.jpg" />

</div>*@



