@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#banner0").toggleClass("hidden");
        $("#banner6").removeClass("hidden");
        $("#navsub").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        modalAjax();
    });
</script>

<div class="pageTitle">Hello Cruel World</div>


<h1>About Me</h1>


<p>The script that contains the function "modalAjax" is on this page. </p>
<p>This page can probably be eliminated but then I would have to pick a default About Me page to load as a default.</p>






<br class="clearfix" />
<div class="aboutMeStackLeft">
    <img src="~/Content/images/aboutme/HomeImprovement/HomeImprovement_11.JPG"  />
    <img src="~/Content/images/aboutme/Backyard/myBackyard_BA2C3391.jpg"  />
    <img src="~/Content/images/aboutme/Cats/CatStills_001.JPG" />

</div>

<div class="aboutMeStackRight">
    <img src="~/Content/images/aboutme/Military/Military_SR71_05.jpg"  />
    <img src="~/Content/images/aboutme/HomeImprovement/HomeImprovement_10.JPG"  />
    <img src="~/Content/images/aboutme/Cats/CatStills_015JPG.JPG"  />
    
</div>


<script>

    //this function, "modalAjax" is probably defined elsewhere..
    function modalAjax() {
        $("img").on('click', function () {
            $("#mymodal").show();
            var meeks = $(this).attr('src');
            $("#innerModalImage").attr('src', meeks);

        })
        $(this).mousedown(function () {
            $("#mymodal").hide();
        });

        $(document).mouseup(function (e) {
            if (!$("#myInnerModal").is(e.target) && $("#myInnerModal").has(e.target).length === 0) {
                $('#mymodal').hide();
            }
        })

    };
</script>
