@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(document).ready(function () {
        console.log("DesignBanner unhidden");
        $("#DesignBanner").removeClass("hidden"); //already hidden on _layout page. unhidden here.
        $("#banner0").addClass("hidden"); // this banner is displayed on the Splash page (Lucy's rocks)
        $("#ucMenuDesign").toggleClass("hidden");/**/


    });
</script>


<h1>Design</h1>
<p></p>
<div style="width: 44%; padding: 0 2% 0 0; float: left;">
    <p>Arguably, there should be some content here. Management realizes this, and is working furiously to prepare some. If you would be kind enough to wait a little longer, there will eventually be some content here and it will be really, really nice. I promise.</p>
</div>
<div style="width: 44%; padding: 0 2% 0 0; float: left;">
    <p>In the meantime please enjoy the animated display of photograpy and design</p>
</div>

<img src="images/design/pencils_1000.jpg" style="width: 100%" alt="pencils">
<br style="clear: both;" />













