@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(document).ready(function () {
        $("#DesignBanner").removeClass("hidden"); //already hidden on _layout page. unhidden here.
        $("#banner0").addClass("hidden"); // this banner is displayed on the Splash page (Lucy's rocks)
        $("#ucMenuDesign").toggleClass("hidden");
        $("#navsub").removeClass("hidden");
    });
</script>
    
<div class="pageTitle">Banners</div>

    <p>Back in Medievel times banners were on practically every web site. </p>

    <div class="animation" >
        <img src="~/Content/images/design/badylak_header_2013.jpg"      class="testAnimation" alt="&nbsp;" />
        <img src="~/Content/images/design/radiology_redesign_2013.jpg"  class="testAnimation" alt="&nbsp;" />
        <img src="~/Content/images/design/Transplant-Header_2013.jpg"   class="testAnimation" alt="&nbsp;" />
        <img src="~/Content/images/design/neurology_residency_2013.jpg" class="testAnimation" alt="&nbsp;" />
        <img src="~/Content/images/design/MIRM_MMDPL_2013.jpg"          class="testAnimation" alt="&nbsp;" /> 
        <img src="~/Content/images/design/CEWO_2013.jpg"                class="testAnimation" alt="&nbsp;" />
        <img src="~/Content/images/design/minimally_invasive_2013.jpg"  class="testAnimation" alt="&nbsp;" />
        <img src="~/Content/images/design/masthead2000.jpg"             class="testAnimation" alt="&nbsp;" />
        <img src="~/Content/images/design/surgery_2013_small.jpg"       class="testAnimation" alt="&nbsp;" />
        <img src="~/Content/images/design/SCC_Masthead_2013_small.jpg"  class="testAnimation" alt="&nbsp;" />
        <img src="~/Content/images/design/GME_banner_2013.jpg"          class="testAnimation" alt="&nbsp;" />

    </div>
   















