@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(document).ready(function () {
        $("#DesignBanner").removeClass("hidden"); //already hidden on _layout page. unhidden here.
        $("#banner0").addClass("hidden"); // this banner is displayed on the Splash page (Lucy's rocks)
        $("#ucMenuDesign").toggleClass("hidden");/*These user controls may not be appropriate here. they must be changed to whatever MVC wants.*/
        /*$("#navsub").addClass("hidden"); */
    });
</script>
<style>
    .designFigure {width:100%;}
</style>

<div class="pageTitle"> Websites</div>

<div style="width:50%;float:left;padding-right:5px;border:1px solid #333333;">

   


            <a href="http://www.okwhoa.com/ALCOA" target="_blank">
                <img src="~/Content/images/design/DI_Screen_Shots_create_action.jpg" class="designFigure" alt="Alcoaxxx">
            </a>

            <a href="http://www.pareportcard.org/PARC2014/" target="_blank">
                <img src="~/Content/images/design/ASCE2014.jpg" class="designFigure" alt="American Society of Civil Engineers">
            </a>

            <br style="clear: both;" />

            <a href="http://www.anes.upmc.edu/" target="_blank">
                <img src="~/Content/images/design/anesthesiology.JPG" class="designFigure" alt="the University of Pittsburgh, School of Medicine, Department of Anesthesiology">
            </a>

            <a href="https://www.emergencyresourcemanagement.com/" target="_blank">
                <img src="~/Content/images/design/ERMI.JPG" alt="Emergency Resource Management, Inc."
                     class="designFigure">
            </a>

        </div>


        <div style="width:49%;float:left;padding-left:5px;border:1px dotted red;">

            <!--
        <a href="http://www.neurology.upmc.edu/Residency_Program/default.asp" target="_blank">
        <img src="~/Content/images/design/neurology_residency.JPG"  alt="Residency Program at the University of Pittsburgh, School of Medicine, Department of Neurology"  ></a>

         <a href="http://www.okwhoa.com/" target="_blank">
        <img src="~/Content/images/design/okwhoa_site.JPG" alt="This is the site you are currently visiting"  ></a>

        <br style="clear:both;" />-->

            <a href="http://www.okwhoa.com/jamesrm/" target="_blank">
                <img src="~/Content/images/design/okwhoa_jamesrm.JPG" class="designFigure" alt="This is a previous version of this site">
            </a>

            <a href="http://www.mirm.upmc.edu/mmdpl/" target="_blank">
                <img src="~/Content/images/design/MMDPL.JPG" class="designFigure" alt="McGowan Medical Devices Prototype Laboratory ">
            </a>

            <br style="clear: both;" />

            <a href="http://www.pareportcard.org" target="_blank">
                <img src="~/Content/images/design/pareportcard.JPG" class="designFigure" alt="pareportcard">
            </a>

            <a href="http://www.anes.upmc.edu/research/labs/xulab/default2.asp" target="_blank">
                <img src="~/Content/images/design/xu_lab.JPG" class="designFigure" alt="Laboratory of Dr. Yan Xu">
            </a>


        </div>


















