@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(document).ready(function () {
        $("#DesignBanner").removeClass("hidden"); //already hidden on _layout page. unhidden here.
        $("#banner0").addClass("hidden"); // this banner is displayed on the Splash page (Lucy's rocks)
        $("#ucMenuDesign").toggleClass("hidden");
        $("#navsub").removeClass("hidden");
    });
</script>


<div class="pageTitle">
    Traditional Print Media Examples
</div>


<p>I have extensive experience in a variety of design disciplines. I have been responsible for illustration, newsletters, branding, web design and a variety of miscellaneous formats. I am an expert at typography, offset printing,  and color theory.</p>

@*style="border:1px dotted red"*@

<br style="clear:both;" />
<div class="animation">
    <div style="width:50%;float:left;border-right:1px solid #999999;">
        <img src="~/Content/images/design/TLV_Cover_Final.jpg"              alt="&nbsp;" class="testAnimation" />      
        <img src="~/Content/images/design/Billiar_graph_04.JPG"             alt="&nbsp;" class="testAnimation" />
        <img src="~/Content/images/design/UPMC_Poster.jpg"                  alt="&nbsp;" class="testAnimation" />
        <img src="~/Content/images/design/Surgery-Newsletter_BA2C3170.jpg"  alt="&nbsp;" class="testAnimation" />
    </div>
    <div style="width:50%;float:left;">
        <img src="~/Content/images/design/poster_01_24x36_large.jpg" alt="&nbsp;" class="testAnimation" />
        <img src="~/Content/images/design/poster_02_24x36_large.jpg" alt="&nbsp;" class="testAnimation" />
        <img src="~/Content/images/design/PARC2018.jpg" alt="&nbsp;" class="testAnimation" />
        <img src="~/Content/images/design/Billiar_graph_03.JPG" alt="&nbsp;" class="testAnimation" />
    </div>
</div>

<!-- This chunk of code is pasted in here from the jamesrm site. it should allow fading in & out a stack of images
      <div id="slideshow" class="clearfix" style="width:90%;margin:0 auto; height:100%; overflow:hidden;border:1px dashed blue;"></div>-->
<br /><br />

<div class="animation" style="margin-top:20px;">
    <br />
    <a href="~/Content/images/design/TLV_Menu_6-page_Final-printed2.pdf">
        <img src="~/Content/images/design/TLV_Cover_Final.JPG" class="testAnimation" alt="&nbsp;"  /> 
    </a>

    <a href="~/Content/images/design/Billiar_graph_03.JPG">
        <img src="~/Content/images/design/Billiar_graph_03.JPG" class="testAnimation" alt="&nbsp;" style="width:80%;" /> 
    </a>

    <a href="~/Content/images/design/Billiar_graph_04.JPG">
        <img src="~/Content/images/design/Billiar_graph_04.JPG" class="testAnimation" alt="&nbsp;" style="width:80%;" /> 
    </a>

    <a href="~/Content/images/design/UPMC_Poster.jpg">
        <img src="~/Content/images/design/UPMC_Poster.jpg" class="testAnimation" alt="&nbsp;" style="width:80%;" /> 
    </a>

    <a href="~/Content/images/design/Surgery-Newsletter_BA2C3170.jpg">
    <img src="~/Content/images/design/Surgery-Newsletter_BA2C3170.jpg" class="testAnimation" alt="&nbsp;" style="width:80%;" /> 
    </a>

    <br />

</div>














