@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(document).ready(function () {
        $("#DesignBanner").removeClass("hidden"); //already hidden on _layout page. unhidden here.
        $("#banner0").addClass("hidden"); // this banner is displayed on the Splash page (Lucy's rocks)
        $("#ucMenuDesign").toggleClass("hidden");/*These user controls may not be appropriate here. they must be changed to whatever MVC wants.*/
        /*$("#navsub").addClass("hidden"); */
    });
</script>
    
<div class="pageTitle">Banners</div>

    <p>Some of these appear on websites I've designed, others are from projects I've worked on in other areas.</p>

    <div class="animation">
        <br />
        <img src="~/Content/images/design/badylak_header_2013.jpg" class="testAnimation" alt="&nbsp;" style="width: 100%;" />
        <img src="~/Content/images/design/radiology_redesign_2013.jpg" class="testAnimation" alt="&nbsp;" style="width: 100%;" />
        <img src="~/Content/images/design/Transplant-Header_2013.jpg" class="testAnimation" alt="&nbsp;" style="width: 100%;" />
        <img src="~/Content/images/design/neurology_residency_2013.jpg" class="testAnimation" alt="&nbsp;" style="width: 100%;" />
        <img src="~/Content/images/design/MIRM_MMDPL_2013.jpg" class="testAnimation" alt="&nbsp;" style="width: 100%;" />
        <!---->
        <img src="~/Content/images/design/CEWO_2013.jpg" class="testAnimation" alt="&nbsp;" style="width:100%;" />
        <img src="~/Content/images/design/minimally_invasive_2013.jpg" class="testAnimation" alt="&nbsp;" style="width:100%;" />
        <img src="~/Content/images/design/masthead2000.jpg" class="testAnimation" alt="&nbsp;" style="width:100%;" />
        <img src="~/Content/images/design/surgery_2013_small.jpg" class="testAnimation" alt="&nbsp;" style="width:100%;" />
        <img src="~/Content/images/design/SCC_Masthead_2013_small.jpg" class="testAnimation" alt="&nbsp;" style="width:100%;" />
        <img src="~/Content/images/design/GME_banner_2013.jpg" class="testAnimation" alt="&nbsp;" style="width:100%;" />

        <br />

    </div>
   















