@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="experiencecontent">


    <img src="~/Content/images/experience/Alcoa_logo_blue.png" class="experienceLogo" alt="Alcoa logo">


    <a href="http://www.okwhoa.com/alcoa"><img src="~/Content/images/experience/alcoa_bldg.jpg" class="experienceFigure floatRight" alt="Alcoa 200 Isabella"></a>
    <!--<figure class="experiencefigurewrappermain"></figure>-->

    <h1>ALCOA</h1>
    <h3>
        30 Isabela Street<br>
        Suite 3025<br>
        Pittsburgh, PA 15213
    </h3>
    <br />
    <h4>Consultant / Web Developer</h4>
    <p>5/2014–6/2014</p>
    <br />

    <p>Construct user interfaces to be used by the application developers.</p>

    <p>The application's appearance and functionality was conceived by a team of Microsoft analysts and designers. The design of the various components was accomplished by Microsoft and provided as Photoshop files, wireframes and a style guide.</p>

    <p>My role was to build the HTML framework and style sheets that would permit the developers to apply the styles to the components as they are being developed</p>

    <!--<figure class="experiencefigureleft" style="width: 35%; max-width: 200px;">
        <a href="http://www.okwhoa.com/alcoa" target="_blank">-->
    <img class="experienceimage" src="~/Content/images/experience/Alcoa_project.jpg" alt="ALCOA">
    <!--</a>
        <figcaption>Click image to examine styles
        </figcaption>
    </figure>-->

    <p>The design required that the pages perform and appear correctly in Internet Explorer 8 and in any recent version of Chrome.</p>

    <p>The application is an internal effort intended for Alcoa employees and would not be available for public consumption. Examples of the pages I developed can, however, be viewed here: <a href="http://www.okwhoa.com/alcoa">Alcoa Project</a>

    <p>The requirements were to have all the elements of the page that performed an action to visually indicate the rollover state and to do so with high performance. I chose to use sprites for the static and rollover states of all icons, buttons and interactive elements. I deleveloped most styles to be implemented as basic HTML submit buttons. The project is to be built in ASP.NET (ASPX web forms) but the development was requested to be done in basic HTML not involving specific .NET Web User Controls. This decision was from Alcoa management and had to do with lack of an easily accessible .NET hosting environment for developing this portion of this project.</p>
    <!-- end .content -->
</div>




