@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(document).ready(function () {
        console.log("Experience home page");
        $("#banner0").toggleClass("hidden");
        $("#banner5").removeClass("hidden");
        $("#ucMenuExperience").removeClass("hidden");
        $("#ucMenuAboutMe").addClass("hidden");

    });
</script>


<div class="pageTitle"> Professional Experience</div>


        <img src="~/Content/images/experience/RR1.png" class="experienceLogoRight" alt="Rolls Royce logo">

        <h1>Rolls Royce Nuclear Engineering Services</h1>

        <h3>
            410 Rouser Road<br />
            Moon Township, PA  151082
        </h3>

   

    
    <h4>Software Engineer</h4>
    <p>2/6/2017 – 8/11/2017</p>


    <p>Rolls Royce Nuclear Engineering Services provides Proactive Obsolescence Management (POMS) to the nuclear industry worldwide. By assisting nuclear fleets and sites with identifying and managing obsolescence issues the safety and security of the World's nuclear power generating infrastructure is greatly improved.</p>

    <img src="~/Content/images/experience/RR5.jpg" class="aboutMeFigureLeft" alt="">

    <p>I was assigned to support and maintain the Proactive Obsolescence Management System (POMS) which is a proprietary system designed to track the components that go into building and maintaining nuclear reactors. Our mission is to constantly monitor the supply chain and identify components, models and manufacturers vital to the continued safe operation and provide solutions when components become, or are scheduled to bocome, obsolete.</p>

    <img src="~/Content/images/experience/RR3.jpg" class="aboutMeFigureRight" alt="">

    <p>My role was to assist in maintaining the code base and data to identify and correct issues with the software as they are identified and to build new solutions as needed.</p>

    <p>The coding environment consisted mainly of Visual Studio 2008 and Oracle 12c using Subversion for source code management. The code consisted primarily of C#.Net, javascript, jQuery and AJAX. Significant amounts of effort went to writing SQL, Stored Procedures and Packages. Aspose Word was used for assembling reports. </p>


