@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        console.log("Experience home page");
        $("#banner0").toggleClass("hidden");
        $("#banner5").removeClass("hidden");
        $("#ucMenuExperience").removeClass("hidden");
        $("#navsub").removeClass("hidden");

    });
</script>


<div class="pageTitle">Experience | ASCE </div>

<img src="~/Content/images/experience/ASCE-2linesig_vert.png" class="experienceLogoRight" alt="ASCE logo.">
<br />
<h1>American Societyof Civil Engineers</h1>
<h2>
    Western Pennsylvania<br />
    Chapter
</h2>
<br />
<h4>Consultant / Designer / Developer</h4>
<p>8/6/2013 – 10/6/2014</p>
<br />

<h3>Pennsylvania's Report Card on the Inrastructure</h3>


<p>Every few years the ASCE produces an evaluation of America's infrastructure. The project: <em>Pennsylvania's Report Card on the Inrastructure for 2014</em> is intended to help industry, leaders, and other interested people understand the importance of maintaining our nation's most critical assets.</p>

<!---->
<a href="http://www.pareportcard.org" target="_blank"> <img src="~/Content/images/experience/ASCE_Report_Card.jpg" class="experienceFigureRight" alt="American Society of Civil Engineers website."> </a>

<p> I designed and developed the public portal for the project. The website: <a href="http://www.pareportcard.org">www.pareportcard.org</a>, was developed using responsive techniques to ensure that anyone visiting the site will have an optimal experience experience regardless of the device being used. Analytics in the week after rollout indicated an audience of approximately 24% were using mobile devices to access the site.</p>

<a href="images/experience/http://www.pareportcard.org/PARC2014/downloads/ASCE_brochure_final.pdf"> <img class="experienceFigureLeft" src="~/Content/images/experience/ASCE_final_6-5-14_PPT.jpg" alt="LARGE PDF file"> </a>

<p>The contract included printed materials to augment the rollout of the website. Design work included a 4-color full-bleed tabloid trifold, posters, press release invitation, and a PowerPoint presentation as well as various graphic design pieces to assist the engineers in presenting their report.</p>

<a href="http://www.asce-pgh.org" target="_blank"> <img class="experienceFigureRight" src="~/Content/images/experience/ASCE-pgh_300.jpg" alt="ASCE Pittsburgh Chapter website."> </a>

<!--<figure class="aboutMeFigureLeft" ><figcaption> ASCE Pittsburgh Chapter membership portal </figcaption></figure>-->

<h3>Pittsburgh Chapter</h3>
<p>
    Based on the satisfaction with the Report Card the Pittsburgh chapter of the ASCE
    retained me to redesign and develop their website. The site is a public/private
    portal intended to manage a roster of members of the organization as well as provide a platform to present the ASCE Pittsburgh chapter to the general public. It was important to have the color scheme that would reflect the black & gold roots of the area while allowing modern features like an living document newsletter and a robust upcoming events component. The photography used for branding and general stock photography was my responsibility as well.
</p>

<h3>Statewide</h3>
<a href="http://www.pareportcard.org/PARC2014_final.pptx" target="_blank"> <img class="experienceFigureRight" src="~/Content/images/experience/ASCE_presentation_300.jpg" alt="LARGE file"> </a>
<!--<figure class="aboutMeFigureLeft"> <figcaption> Presentation for statewide education </figcaption></figure>-->
<p>As part of the effort to educate Pennsylvania's ASCE community as well as the general populace to the critical issues surrounding our deteriorating infrastructure, I was commissioned to build a presentation for speakers to use when addressing audiences. The PowerPoint file is intended for presenters in the Pittsburgh, Philadelphia, Lehigh Valley and Central regions of Pennsylvania.</p>



