@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(document).ready(function () {
        console.log("Experience home page");
        $("#banner0").toggleClass("hidden");
        $("#banner5").removeClass("hidden");
        $("#ucMenuExperience").removeClass("hidden");
        $("#ucMenuAboutMe").addClass("hidden");

    });
</script>



    <div class="pageTitle">Experience</div>
    <p>This is not a specific experience page but, is a sort of placeholder page left over from the earlier site attempts. It can probably go away. Just load Rolls Royce by default instead.
    </p>
