@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(document).ready(function () {
        console.log("Experience home page");
        $("#banner0").toggleClass("hidden");
        $("#banner5").removeClass("hidden");
        $("#ucMenuExperience").removeClass("hidden");
        $("#navsub").removeClass("hidden");

    });
</script>

<div class="pageTitle">Experience | HTA</div>


<div id="experiencecontent">

    <img class="experienceLogoRight" src="~/Content/images/experience/Database-Marketing-header-21.jpg" alt="">
    @*<figure class="experienceLogoRight">

    </figure>*@

    <h1>High Technology Associates</h1>

    <h3>
        5907 Penn Avenue, Suite 240<br />
        Pittsburgh, PA 15206<br />
        (412) 362-3700
    </h3>
    <h4>Programmer/Analyst</h4>
    <p>4/87 – 10/89</p>
    <br />

    <p>High Technology Associates pioneered the concept of database marketing--retrieving targeted data from Dun's Market Identifiers and other sources then applying sophisticated algoriths to parse the data and build databases optimized to reflect specific industry-explicit direct-mail campaigns. <img class="experienceFigureLeft" src="~/Content/images/experience/data_analyzed_300.png" alt="">My role encompassed the analysis and execution of targeted searches, writing programs in Visual Basic and dBase III to parse the downloaded searches and extract relevant data based on logic similar to what became regular expressions in later programming environments. I created the databases used to store the data then to merge with desktop-publishing software to create highly-targeted mass mailing campaigns to target prospects based on their industries and interests. </p>





    <p>All of this was done at a time well before any of this became the accepted methods of gathering "big data" and implementing creative ways of utilizing this data to drive powerful marketing campaigns. </p>

    <!-- end .experiencecontent -->
</div>



