@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(document).ready(function () {
        console.log("Experience home page");
        $("#banner0").toggleClass("hidden");
        $("#banner5").removeClass("hidden");
        $("#ucMenuExperience").removeClass("hidden");
        $("#ucMenuAboutMe").addClass("hidden");

    });
</script>

<div id="experiencecontent">

    <img src="~/Content/images/experience/Big_Heart_Pet_Logo_200.png" class="experienceLogo " alt="Big Heart Pet logo">

    <figure class="experiencefigurewrappermain"> <a href="~/Content/images/experience/BHP_Kitty.jpg"> <img src="~/Content/images/experience/BHP_Kitty_300.jpg" class="experienceFigure floatRight" alt=""> </a> </figure>
    <br />
    <h1>Big Heart Pet Brands</h1>
    <h3>
        Del Monte Center<br />
        375 N Shore Drive<br />
        Pittsburgh, PA 15212
    </h3>
    <br />
    <h4>Operations Analyst</h4>
    <p>10/6/2014 – 2/18/2015</p>
    <br />
    <p>Big Heart Pet is a new company spawned out of a divestiture with <em>Del Monte Food, Inc.</em> The separation of the two companies required a re-working of hundreds of custom-developed web applications to accomodate the individual needs of each entity.</p>
    <p> I was contracted to assist in the evaluation, analysis and resolution of the tasks involved in adapting, configuring and deploying a variety of Visual Basic.NET applications and related SQL Server data resources.</p>
     <img src="~/Content/images/experience/BHP_Puppy_300.jpg" class="experienceFigure floatLeft" />
    <!--<figure class="experiencefigureleft" style="width:300px;max-width:300px;"> <figcaption> Everywhere you look, awesome pictures of cute critters. </figcaption></figure>-->
    <p>Projects I participated in included identifying and extracting information from the enterprise-level HR database to separate the data and application into discrete repositories. I wrote SQL quries to manipulate the database and analyzed and modified the source code of the application to accomplish legal specifications regarding the separation of the two newly-formed business units.</p>
    <p>I wrote applications to extract binary data from a database (BLOBs) into individual files separated by business unit. The application included dynamic generation of an Excel spreadsheet with information about the files and with pointers linking to the server location where the files were stored. I used the Microsoft Interop assemblies to create and populate the spreadsheet as the data was retrieved and written to disk.</p>
    <p>I developed an application to implement archiving customer-created files into an enterprise archiving utility (Mobius). The application involved picking up a file or files from a network drop location and building summary and batch files appropriate to each file. This application was built to create audit-compliant backups of all current and future BHP customers.</p>

    <!-- end .content -->
</div>

