@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(document).ready(function () {
        console.log("Experience home page");
        $("#banner0").toggleClass("hidden");
        $("#banner5").removeClass("hidden");
        $("#ucMenuExperience").removeClass("hidden");
        $("#navsub").removeClass("hidden");
    });
</script>



<div id="experiencecontent">

    <div class="pageTitle">Experience | Interior Energy</div>

    <img class="experienceLogoRight" src="~/Content/images/experience/churchill.jpg"  alt="">






    <h1>Interior Energy Corporation</h1>

    <h2>Fairbanks, Alaska</h2>

    <h4>Night Manager</h4>

    <p>
        IEC was a heating oil distributor that served the area in and around Fairbanks. I held the title of Night Manager and was responsible for coordinating and dispatching a fleet of drivers.
        <img src="~/Content/images/experience/fairbanksimages.jpg" class="experienceFigureRight" alt="Fairbanks Alaska">
        Nights in Fairbanks were long and cold but, there were advantages to being in radio contact with a group of drivers in the heart of Alaska in the middle of the night--they would call in anytime the Northern Lights started to really put on a spectacular show.
    </p>

    <img class="experienceFigureLeft" src="~/Content/images/experience/fairbanks-aurora-by-Kabacchi.jpg" alt="">

    <p>During my shift I often pitched in and helped with reconciling customer's accounts. I created several programs that assisted with tracking and managing customer records.</p>



    <!-- end .experiencecontent -->
</div>

