@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(document).ready(function () {
        console.log("Experience home page");
        $("#banner0").toggleClass("hidden");
        $("#banner5").removeClass("hidden");
        $("#ucMenuExperience").removeClass("hidden");
        $("#ucMenuAboutMe").addClass("hidden");

    });
</script>


<div id="pageContent">
    <h1>Experience</h1><p>This is the _experience page. It is not a specific experience page but, is a sort of placeholder page left over from the earlier site attempts. It can probably go away.
    </p>
</div>  