@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        console.log("Experience home page");
        $("#banner0").toggleClass("hidden");
        $("#banner5").removeClass("hidden");
        $("#ucMenuExperience").removeClass("hidden");
        $("#navsub").removeClass("hidden");
    });
</script>

    <div class="pageTitle">Experience | Pitt</div>

    <img src="~/Content/images/experience/PittSeal_detailed.png" class="experienceLogoRight" alt="Pitt logo">

    

    <h1>University of Pittsburgh</h1>
    <h2>
        School of Medicine
        Department of Surgery
    </h2>
    <h3>
        P.O. Box 7533<br />
        Pittsburgh, PA  15213
    </h3>
    
    <img src="~/Content/images/experience/cathedral_DSC_2843.jpg" class="experienceFigureLeft" alt="Cathedral of Learning">
    
    <h4>Senior Media Producer</h4>
    <p>10/1989 – 10/2008</p>
    <br />

    <p>Design and produce graphic materials to serve the teaching and publishing requirements of faculty and research personnel of the Department of Surgery.  Prior to the introduction of the World Wide Web my responsibilities were primarily to produce traditional media:</p>

    
        <img src="~/Content/images/experience/surgery_bartlett_small.jpg" class="experienceFigureRight" alt="operating room">

        <img src="~/Content/images/experience/surgery_lee_small.jpg" class="experienceFigureLeft" alt="operating room"><br />

    <ul>
        <li>
            Camera-ready artwork:
            <ul>
                <li>Illustrations: Medical Illustration, Custom graphics</li>
                <li>Charts & Graphs: Kaplan-Meyer, Statistical, 3D, Logarithmic, Poisson, Bubble, etc.</li>
                <li>Commercial printing: 4-color full-bleed newsletters, Brochures, Pamphlets, and Posters</li>
            </ul>
        </li>
        <li>PowerPoint presentations: Custom presentations with animation, video and interactivity</li>
        <li>Photography: Studio Portraits, Surgical procedures, Events</li>
        <li>Videography: Operating room procedures, Training, Lectures, Events</li>
        <li>Video post-production using Avid Liquid Pro and Adobe Premiere Pro</li>
    </ul>

    <p>A very large percentage of my work has been published in medical journals, research publications and textbooks.</p>

    <p>A great deal of this work was in the days before computers were able to handle sophisticated graphics. My experience has spanned the whole evolution of computers becoming the dominant tools for graphic production. I am intimately familiar with traditional production techniques and have become expert at the modern tools of media design and delivery.</p>

    <img class="experienceFigureRight" src="~/Content/images/experience/surgery_anes_small.jpg" alt="operating room">

    <p>With the introduction of the World Wide Web my role changed to encompass that of webmaster. I set up the Department's first dedicated web server and began designing and publishing the web sites for the divisions within the Department of Surgery: Cardiac, Endocrine, General, Oncologic, Plastic, Thoracic, Transplant, Trauma, and Vascular. Over time my responsibilities grew to include The Departments of Anesthesiology, Neurology, Pain Medicine, The McGowan Institute for Regenerative Medicine (MIRM), and Emergency Resource Management, Inc. (ERMI). As reorganizing and consolidation of services occurred within the organization, all functions and personnel were transferred into UPMC. </p>


