@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<img id="banner4" class="masterBanner hidden" src="~/Content/images/pagebanners/Fresh_horiz_06_3000X200.jpg" />
        <h1>Suburban Renewal</h1>


        <p>I had three criteria when I bought my house: I wanted 9 foot ceilings, radiator heat, and I wanted a place that could be completely gutted and re-wired. I do a lot of work with computers and audio and video equipment work and good, clean, reliable power is a must. I wanted to make sure my power was entirely free of the sorts of wiring issues that lead to sound problems.</p>

        <p>I never expected to own a jackhammer or cement mixer or a variety of chainsaws.</p>

        <p>On the way to replacing all the wiring in the house it seemed like a really good idea to address the plumbing issues. There were a lot of plumbing issues. Over time, I ripped out and replaced every bit of supply and drain pipe. I never set out to become a plumber and I'm probably not what a real plumber would consider a real plumber but, everything now is brand new and 100% up to code from the top of the stack to the street drain.</p>
        <p>If I ever need to repair or replace any plumbing I should be in really good shape but, now that all the plumbing is new I should probably never need to touch it again.</p>


        <img src="images/aboutme/HomeImprovement_02.jpg" class="aboutMeFigureRight clearRight" />

        <h3>How many tools can one person have?</h3>
        <p>A lot. The answer is, a lot. As any owner of an old house in Pittsburgh can probably tell you, old houses need a lot of work--work requires tools. Over time the tools accumulate until you reach a point where you can walk through Home Depot or Lowes and not find a single tool you need--or want. I'm about at that stage.</p>

        <div class="aboutMeClusterLeft">

            <img src="../Content/images/aboutme/HomeImprovement_20.jpg" style="width:100%;float:left;" />
            <img src="../Content/images/aboutme/HomeImprovement_18.jpg" style="width:100%;float:left;" />
            <img src="../Content/images/aboutme/HomeImprovement_19.jpg" style="width:100%;float:left;" />
            <img src="../Content/images/aboutme/HomeImprovement_27.jpg" style="width:100%;float:left;" />
        </div>

        <div class="aboutMeClusterRight">

            <img src="../Content/images/aboutme/HomeImprovement_23.jpg" style="width:100%;float:left;" />
            <img src="../Content/images/aboutme/HomeImprovement_24.jpg" style="width:50%;float:left;" />
            <img src="../Content/images/aboutme/HomeImprovement_25.jpg" style="width:50%;float:left;" />
            <img src="../Content/images/aboutme/HomeImprovement_26.jpg" style="width:50%;float:left;" />
        </div>

        <div class="aboutMeClusterLeft">

            <img src="../Content/images/aboutme/HomeImprovement_21.jpg" style="width:50%;float:left;" />
            <img src="../Content/images/aboutme/HomeImprovement_12.jpg" style="width:50%;float:left;" />
            <img src="../Content/images/aboutme/HomeImprovement_17.jpg" style="width:50%;float:left;" />
            <img src="../Content/images/aboutme/HomeImprovement_27.jpg" style="width:50%;float:left;" />
        </div>

        <img src="../Content/images/aboutme/HomeImprovement_tools.JPG" class="aboutMeFigureRight clearRight" />

        <img src="../Content/images/aboutme/HomeImprovement_01.jpg" class="aboutMeFigureRight clearRight" />

