@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#banner0").toggleClass("hidden");
        $("#banner6").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        $("#navsub").removeClass("hidden");
        modalAjax();
    });
</script>

<div class="pageTitle">Home Improvement</div>

<img id="banner4" class="masterBanner hidden" src="~/Content/images/pagebanners/Fresh_horiz_06_3000X200.jpg" />

<h1>Suburban Renewal</h1>

<div class="aboutMeStackLeft">

    <img src="../Content/images/aboutme/HomeImprovement/HomeImprovement_15.jpg" />
    <img src="../Content/images/aboutme/HomeImprovement/HomeImprovement_23.jpg" />
</div>

<p>I had three criteria when I bought my house: I wanted 9 foot ceilings, radiator heat, and I wanted a place that could be completely gutted, insulated, and re-wired. I do a lot of work with computers and audio and video equipment work and good, clean, reliable power is a must. I wanted to make sure my power was entirely free of the sorts of wiring issues that lead to sound problems.</p>

<p>My house was, apparently, one of the first structures built in this area. It's about 120 years old. It was a solidly-built house, nothing fancy but, good, solid construction. It's the things that happened <i>after</i> the house was built that caused all the problems I've been dealing with.</p>





<p>On the way to replacing all the wiring in the house it seemed like a really good idea to address the plumbing issues. There were a lot of plumbing issues. Over time, I ripped out and replaced every bit of old plumbing. I never set out to become a plumber and I'm probably not what a real plumber would consider a real plumber but, everything now is brand new and 100% up to code from the top of the stack to the street drain.</p>

<div class="aboutMeStackLeft">
    <img src="../Content/images/aboutme/HomeImprovement/HomeImprovement_02.jpg" />
    <img src="../Content/images/aboutme/HomeImprovement/HomeImprovement_22.jpg" />

</div>

<p>I should never need to repair or replace any plumbing. If you've ever dealt with old plumbing, you know how expensive plumbing emergencies can be. I don't have to worry about that anymore. I just heard from the township that my house is getting new street plumbing. My supply line is made of lead, and the infrastucture bill has money to replace old lead lines. So, thanks Joe. I appreciate it.</p>




<h3>How many tools can one person have?</h3>

<div class="aboutMeStackRight">
    <img src="../Content/images/aboutme/HomeImprovement/HomeImprovement_01.jpg" />


</div>

<p>A lot. The answer is, a lot. As any owner of an old house in Pittsburgh can probably tell you, old houses need a lot of work--work requires tools. Over time the tools accumulate until you reach a point where you can walk through Home Depot or Lowes and not find a single tool you need--or want. I'm about at that stage.</p>


@*<p>I never expected to own a jackhammer or, a cement mixer or, a variety of chainsaws.</p>
    <img src="../Content/images/aboutme/HomeImprovement/HomeImprovement_08.jpg" />
    <p> I </p>*@








