
    
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    $(document).ready(function () {
        $("#banner0").toggleClass("hidden");
        $("#banner6").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        $("#adam-modal").removeClass("hidden");
        modalAjax();
    });
</script>

<div class="pageTitle">Login</div>

<h1>Login</h1>


