@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#banner0").addClass("hidden"); // this is displayed on the Splash page
        $("#banner1").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        $("#navsub").removeClass("hidden");
        modalAjax();
    });
</script>

<div class="pageTitle">Military Service</div>

<div style="min-height:130px;/*maybe turn this div's styling into a class called signature*/
        width:85%;
        padding:0% 6% 1% -2%;
        padding-right:25%;
        margin-bottom:5px;
        /*border:1px solid red;*/
        background-image:url('../Content/images/aboutme/Military/Military_airforcelogo.png');
        background-repeat:no-repeat;
        background-position:90% 20%;
        background-size:16%;">
    <!--<img src="../Content/images/aboutme/Military_airforcelogo.png" style="float:left;width:20%; margin-right:4%;max-width: 300px; "/> -->

    <h1>United States Air Force</h1>
    <h2>Ninth Reconnaissance Wing</h2>
    <h2>Beale Air Force Base</h2>
    <h3>9th Avionics Maintenance Squadron</h3>
    @*<br />*@

</div>


<h4>Avionics Instrument Systems Repairman</h4>




<p>I was assigned to Beale AFB California after technical training. Beale AFB is (was) home base for the SR-71 Blackbird, and the U-2 Dragon Lady. These aircraft are, of course, legendary and, working on them was an experience like no other.</p>

<div class="aboutMeStackLeft">
    <img src="../Content/images/aboutme/Military/Military_SR71_01.jpg" />
    <img src="../Content/images/aboutme/Military/sr71_cockpit.JPG" />

    <img src="../Content/images/aboutme/Military/Military_SR71_04.jpg" />

</div>




<h2>SR-71</h2>

<p>The SR-71 was decomissioned in 1989. Even in retirement, it holds the world speed record for an air-breathing aircraft: 2,193 miles per hour (Mach 3.2). That's faster than a speeding bullet. Mach 3.2 was it's cruising speed. It flew that fast for hours at a time between refuellings. It could go faster than Mach 3.2. I heard someone declare Mach 3.5 as it's top speed. I guess only someone who worked on it's instrument systems and kept it's altimeters and airspeed indicators calibrated would truly know for sure... <img src="../Content/images/aboutme/Military/Military_U2_Cockpit.JPG" class="aboutMeFigureRight" />As far as I know, if there's anything up there today that can outrun the SR-71, it's still top secret. These extraordinary and legendary airplanes did nothing but fly high and take pictures...  It was my job to see to it that they were kept in flightworthy condition.</p>


<p>
    Since being decomissioned in the 1980s, many of the airplane's secrets have been declassified and there have been some fantastic
    documentaries made about the aircraft. One of the best I have seen is linked below in the section on Skunk Works.
    It was my honor and great fortune to have served in support of these legendary aircraft.
</p>


<h2>U-2</h2>

<div class="aboutMeStackRight">
    <img src="../Content/images/aboutme/Military/Military_T-38_02.jpg" />
    <img src="../Content/images/aboutme/Military/Military_T-38_01.jpg" />
</div>

<p>The U-2 was built to be able to fly above 70 thousand feet to avoid enemy radar and to fly above the reach of enemy aircraft and missiles.It carried extremely high-resolution cameras for surveillance and was an extraordinarily valuable reconnaisance tool. Eventually, the Russians were able to build missiles capable of reaching that high and in 1960 a U-2 flown by Gary Powers was shot down. The incident is portrayed in a film starring Tom Hanks titled: <a href="https://www.youtube.com/watch?v=YX3UjwVeN5s">"Bridge Of Spies."</a> After this, it was apparent something that could fly higher and much faster would be required. This need led to the development of the SR-71.</p>
<p>Beale had a considerable number of KC-135 StratoTankers equipped to provided aerial refueling. In addition to these airplanes there were a dozen or so T-38 Talons. I wanted to fly the T-38s more than I wanted to fly the SR-71. They are some gorgeous airplanes.</p>


<h2>T-38 Talon</h2>

<p>This plane is one of my favorites. It is the trainer version of an F-5 and it is just beautiful. SR-71 pilots train in this airplane because it shares a number of similar flight characteristics. I sure would love to go fast in one of these.</p>
<br class="clearfix" />

<img src="../Content/images/aboutme/Military/Military_KC-135.jpg" class="aboutMeFigureLeft" />


<h2>Skunk Works</h2>



<p>Everyone, it seems, has heard of the Skunk Works. Many top-secret projects were developed there. Three of those projects touched me personally: The SR-71; The U-2; and the P-80. I worked on all three of them and even got to fly a P-80 one day. In actuality, I flew a T-33  which—as everybody knows—is the trainer version of a P-80. There's a story about my flight somewhere below. </p>
<img src="../Content/images/aboutme/Military/Military_Skunkworks_01.jpg" class="aboutMeFigureLeft" />

<p> The Skunk Works is a real place near Palmdale California. Some of you might recall they ran a turkey farm out in back of Palmdale.  Anyway, Skunk Works got it's  name because it was next to a plastic factory. Making plastic—apparently—involves some pretty bad odors.  If you have any interest, I highly recommend watching <a href="https://www.youtube.com/watch?v=pL3Yzjk5R4M">The Lead Developer Skunkworks video</a>. I found it to be well-researched and even taught me a few things I never knew about the Skunk Works.</p>

<p>  Kelly Johnson is the engineer who created the Skunk works and designed the SR-71; U-2; and P-80. Thank you, Mr. Johnson.</p>




<h2>Hickam Air Force Base</h2>

<h3>6594th Test Group</h3>
<img src="../Content/images/aboutme/Military/Military_HH-53_patch.png" class="aboutMeFigureRight" />
<p>After two and a half years at Beale The Air Force offered me a tour at Hickam. For those of you who don't know, Hickam is right next to Pearl Harbor Naval Base. They told me I would have to extend my enlistment another two years to take the assignment. I would no longer be working on the SR-71 but, I'd be in Hawaii. It was a difficult decision. I took the orders and my responsibilities became to maintain JC-130H Satellite Catchers; HH53 helicopters; and T-33 Shooting Stars. </p>

<p>The 6594th Test Group was established in 1958 to support U.S. Air Force Systems Command missile and space development operations in the Western Pacific area.</p>


<h3>JC-130H</h3>
<!--< img src = "../Content/images/aboutme/Military/Military_JC-130H.jpg" class="aboutMeFigure clear floatRight " /> -->

<p>C-130s are pretty common but, these models had an interesting feature: They were equipped to capture satellites out of the air as they fell to Earth. As part of  Corona, America's first reconnaissance satellite program, the JC-130H and HH53 helicopters were essential for retrieving film cannisters ejected from the satellites. </p>


<div class="aboutMeStackRight">
    <img src="../Content/images/aboutme/Military/Military_U2_02.JPG" />
    <img src="../Content/images/aboutme/Military/Military_U2_600.jpg" />
</div>
<h2>War Stories</h2>
<h3>Unplanned Detonation of Egress System in a U-2</h3>
<p>One night I went out to replace an altimeter on a U-2 that was in a hanger for inspection and maintenance. The ejection seat had been removed from the aircraft so I only needed to lower myself onto my back and slide under the instrument panel to get to the altimeter—a relatively easy job. As I was entering the cockpit I grabbed a piece of metal tubing to help lower myself into the cockpit. As it turned out, the piece of hardware I grabbed was connected to a mechanism used to trigger the egress system. Normally, the piece would have been fitted with safety pins and streamers indicating danger and locking the strut in place. This wasn't a normal situation, however. A crew chief had removed the safety pins for use in a live aircraft. When I grabbed the strut, it rotated a couple degrees and clicked... A half second later an enormous explosion occurred. Ejection seats consist of more than just the seat itself... There are thrusters that explode to blow the canopy off of the aircraft and there are other explosive devices used to sever cables and wires from the seat. I am very lucky to have survived the incident. I met Captains, Majors, Colonels, and a few Generals that night as word spread and everyone showed up to see what had happened. So, anyway, I'm that guy.</p>
<br />

<h3>HH-53 Tragedy</h3>
<img src="../Content/images/aboutme/Military/Military_HH-53_crash.jpg" class="aboutMeFigureLeft " />
<p>
    One Friday night, I was getting ready to close the shop and start my weekend when a call came in that an HH-53 had a problem. I determined pretty quickly that the problem was a faulty wiring harness that connected to one of the gyroscopes mounted in the rear of the aircraft. These wires had transparent outer plastic wrap and I could see that many of the wires were corroded to such a point that I could actually see sparking between the shield and conductor in several of the wires. Normally repairs such as this would require the helicopter to be towed to a hanger and partially disassembled to properly replace the harness. However, because the helicopter had to fly out at first light for a rescue mission, I was ordered to make the necessary repairs there on the flightline. I entered several red-Xs into the aircraft records to indicate the aircraft was not safe to fly and then set about assembling a wiring harness to replace the defective one... A wiring harness is no small deal. Aircraft wires are numbered... Each wire must bear the correct number. That means someone has to look up all the numbers and then print the numbers onto the wire using a heating iron. Then the wires must be stripped and soldered into a Cannon Plug. Since these were sheilded wires there were two solders for every wire. I'm doing this at probably 3am or so. Once the harness was ready I headed back out to the flightline.
</p>

<p>Back at the helicopter I started splicing. Typically, no one would never splice sheilded conductors but, I did that night because this aircraft was going out at first light and that was all there was to it. As I got close to finishing with the harness replacement the pilots and crew arrived and began their pre-flight and within a minute or two the engines were running and they began hovering. The test of whether or not the the repair consisted of me asking the pilots if their ADI (Attitude Director Indicator--the thing the gyros were connected to) was working. They gave a thumbs-up and I jumped off the ramp at the back of the helicopter and it flew out to sea. The Sun wasn't even up yet but, the sky was beginning to lighten. I went home to get some sleep. I didn't learn until later that day that the helicopter crashed into the ship where the rescue was taking place—killing everyone on board the helicopter and two people on the ship where the rescue was taking place.</p>


<p>I was sick with the idea that I had made a mistake that cost the lives of that crew.  Technically, I did everything wrong: I worked well beyond the number of hours a technician is permitted. I spliced shielded cables knowing that was not an approved maintenance action. I was not able to conduct any sort of required tests on the system prior to flight. I signed off my own safety of flight actions (Red Xs) in the aircraft maintenance foems. All of these things are unforgivable.</p>

<p>Eventually, the cause of the crash was revealed to be a failure to properly pack tail rotor bearings with grease during a phased maintenance disassembly and reassembly. It turned out the accident wasn't my fault but, it certainly could have been.</p>
<br />
<br />

<h3>T-33 Shooting Star (P-80)</h3>
<p>The plane I flew was actually a T-33–the trainer version of the P-80. Same plane but, modified to carry a second pilot in the back seat. Even for an hour-long joy ride I had to complete several day's of training on how to operate the ejection system, how to land in a parachute, how to operate the radio equipment, and how to survive in open ocean water should anything go wrong. The day of the flight I was outfitted in a Nomex flight suit, helmet and mask and strapped into the cockpit. Hickam Air Base shares a runway with Honolulu International. That's where we took off.</p>
<img src="../Content/images/aboutme/Military/Military_T-33.jpg" class="aboutMeFigureRight" />

<p>We climbed rapidly to flight level 160 (this is the cool way to say 16 thousand feet.) We did the sort of things you would expect: dives, rolls, loops and various maneuvers clearly intended to impress me. A loop requires a steep, high-G climb that tapers off to 1 G at the top of the loop. Pulling one gravity is just like sitting in your chair at home. Except, we were upside down. I looked up–which was actually down–and the Pacific Ocean was there above (below) me shining in the afternoon Sun... It's not like anything else.</p>

<p>During a jet flight such as this you will often find yourself hanging upside down in your harness or, even feeling negative Gs. Frequently, you will pass through states of weightlessness and all the little bits of dust and debris that have collected behind the instrument panel float up and hover in the cockpit. I remember seeing a paper clip at one point and thinking: "that's gonna be trouble."</p>

<p>So, the good part: The pilot, Joseph Culter, hands the controls over to me. There I am, with the joystick of a fighter jet in my hand. As an Avionics/Instrument Repairman I knew what all the instruments were and what they indicated. I also had a fairly good idea of how the plane is supposed to be flown so, I tried to fly the airplane flat and level and see what it took to do that. Well, eventually things drift and you begin to have to make adjustments to altitude, attitude, airspeed, angle of attack, vertical velocity, all while trying to maintain your horizontal situation. Aside from a little "porpoising" I kept it level and on course. After the flight the pilot said I was the first person he had ever taken up that actually flew the airplane instead of just yanking the stick to see what would happen. I was really proud to get such a compliment.</p>

<h2>Honors</h2>
<p>I was chosen to serve in President Ronald Reagan's honor guard during his trip to China in 1984</p>
<img src="../Content/images/aboutme/Military/MilitaryAdmiral_Crowe_BA2C3159.jpg" class="aboutMeFigureRight clearRight" />



<!--Probably garbage
<img src="../Content/images/aboutme/Military/Military_SR71_01_lage.JPG" class="right modal" style="max-width:50%;border:red 1px solid;" />
<img src="../Content/images/aboutme/Military/Military_HH-53_crash.jpg" class="aboutMeFigureRight clearRight" />-->
