@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#banner0").toggleClass("hidden");
        $("#banner6").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        modalAjax();
    });
</script>

<div class="pageTitle">Music</div>

<h1>Music</h1>