@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#banner0").toggleClass("hidden");
        $("#banner6").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        modalAjax();
    });
</script>

<div class="pageTitle">Music</div>

<p>My interest in music extends into performance and production. By a curious set of events I, at one time, had access to a professional studio. This is in the era just before digital music production began to take over the industry.</p>


<img src="../Content/images/aboutme/Music/Music_02.JPG" class="aboutMeFigureRight clearRight" />
<img src="../Content/images/aboutme/Music/Music_01.JPG" class="aboutMeFigureLeft" />

<p>I learned how to produce, record, edit and master recordings using reel-to-reel multitrack recorders and an analog mixing console. Everything was analog--reverb, compression, delay...  Patch bays were used to route signals. I'm talking old-school.</p>



<div class="aboutMeClusterLeft">
    <img src="../Content/images/aboutme/Music/Music_03.jpg" class="" style="width:100%;" />
    <img src="../Content/images/aboutme/Music/Music_04.jpg" class="" style="width:100%;" />
    <p style="font-size:.4rem;">Click on any image to see it magnified. Click off of the image to restore.</p>
</div>

<p>The microphones and other equipment were spectacular. Neuman small and large-diaphragm condenser microphones running into a Seck mixing desk which fed an Otari MX-5050 8-track recorder. Mixdown was to a very high quality Yamaha 2-track. </p>

<div class="aboutMeClusterRight">
    <img src="../Content/images/aboutme/Music/Music_06.jpg" class="right" style="width:100%;" />
    <img src="../Content/images/aboutme/Music/Music_005.jpg" class="right" style="width:100%;" />
    <img src="../Content/images/aboutme/Music/Music_007.jpg" class="right" style="width:100%;" />
</div>
<p>The studio was meant for recording radio programs and commercials. It wasn't meant for music production but, it was certainly capable of it. The equipment I had available was equal to, or better than, what the Beatles recorded their albums on. </p>
