@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(document).ready(function () {
        console.log("MyBackyard page");
        $("#banner0").toggleClass("hidden");
        $("#banner6").removeClass("hidden");
        $("#ucMenuAboutMe").removeClass("hidden");

    });
</script>

    <div class="pageTitle">My Backyard</div>

    <h2>My Backyard</h2>





    <h3>Not your average backyard</h3>
    <p>I live in what you might call a really old residential area. My house is perched on the southern exposure of a hill that overlooks the site of the <a href="https://www.loc.gov/collections/films-of-westinghouse-works-1904/articles-and-essays/the-westinghouse-world/the-westinghouse-electric-and-manufacturing-company/">The Westinghouse Electric and Manufacturing Company</a>. My father worked his whole life there as a Winder. Winders assembled huge, tightly-wound coils and mounted them in enormous generators. My Dad worked on the generators that went into Niagra Falls. I came to realize that Nikola Tesla worked there for a while while he was in the employ of George Westinghouse. </p>

    <p>My house was, apparently, one of the first structures built in this area. It's about 120 years old. It was a solidly-built house, nothing fancy but good, solid construction. It's the things that happened <i>after</i> the house was built that caused all the problems I've been dealing with.</p>

    <p> Due to the geography there are a lot of wooded hillsides and the neighbors are spread out pretty far. Some Critters live here and some pass through on a regular basis.</p>

    <br class="clearfix" style="" />


    <img src="../Content/images/aboutme/BackyardBuck2.jpg" class="aboutMeFigureLeft clearLeft" />
    <img src="../Content/images/aboutme/BackyardFlowers_01.jpg" class="aboutMeFigureRight " />

    <p>Deer, in particular, are plentiful. Again, this isn't what you would call the country, I'm about a 10 minute drive from Downtown Pittsburgh and about a 20 minute drive to anything you might consider farm land. A few years ago, I might see one or two deer in the Winter but, in recent years, the deer have multiplied dramatically. I have neighbors who feed them which is probably not a good idea. I used to do a lot of gardening but, now it's diffucult because of the deer. They're adorable but, they eat everything.</p>

    <img src="../Content/images/aboutme/Backyard_002.JPG" class="aboutMeFigureRight clearRight" />

    <img src="../Content/images/aboutme/BackyardCardinal.jpg" class="aboutMeFigureRight clearRight" />

    <p>Birds seem to like it here... I get a lot of birds outside my kitchen window. </p>




    <p>I'm amazed at how much I have come to enjoy watching the variety of birds that show up. As a photographer, I can't help but take a lot of pictures.</p>

    <div style="width:33%;float:left;">
        <img src="../Content/images/aboutme/Backyard_Shrooms.jpg" style="width:50%;float:left;" />
        <img src="../Content/images/aboutme/Butterfly.JPG" style="width:50%;float:left;" />
        <img src="../Content/images/aboutme/BackyardtURKEYS_01.jpg" style="width:50%;float:left;" />
        <img src="../Content/images/aboutme/BackyardBabydoll_02.jpg" style="width:50%;float:left;" />
        <!--<img src="images/aboutme/BackyardTucco_01.jpg" class="aboutMeFigureRight clearRight"/>-->
    </div>

    <p>I like cats. I know many people think it is a bad idea to allow them outdoors because of the hazards they could encounter. I love my cats and would never want anything bad to happen to them but, it seems to me that living creatures really ought to be able to experience the natural world. I live on a street that is not densely populated and has very low traffic. I have a lot of wooded and semi-wooded property for them to explore and all the surrounding properties have big yards and lots of wooded areas too. They are very happy, content creatures with great personalities. Very photogenic and just delightful. I have had many cats in my life and all have been outdoor cats. All of them have lived long healthy lives and been great pets.</p>

    <div style="width:33%;float:left;">
        <img src="../Content/images/aboutme/Backyard_005.jpg" style="width:50%;float:left;" />
        <img src="../Content/images/aboutme/Backyard_BA2C2011.JPG" style="width:50%;float:left;" />
        <img src="../Content/images/aboutme/Backyard_008.jpg" style="width:50%;float:left;" />
        <img src="../Content/images/aboutme/Backyard_002.jpg" style="width:50%;float:left;" />
        <!--<img src="images/aboutme/BackyardTucco_01.jpg" class="aboutMeFigureRight clearRight"/>-->
    </div>


