@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#banner0").toggleClass("hidden");
        $("#banner6").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        modalAjax();
    });
</script>

<div class="pageTitle">Tree-related stuff</div>

<h2>lifetime pursuit</h2>
<p>For reasons not entirely clear to me, I have always liked climbing trees. When I was six I climbed so far up a tree that my parents called the fire department to rescue me. Honestly, I could have climbed down on my own but, I did make the front page of next morning's newspaper.  </p>


<img src="../Content/images/aboutme/Trees/Tree_RICHIE.JPG" class="aboutMeFigureLeft clearLeft" />

<p>Tree climbing is as much fun as rock climbing but, for some reason the idea of climbing trees isn't as compelling as climbing up rocks even though they both use pretty much the same equipment and techniques. What rock climbers do is dangerous and difficult but, one thing rock climbers usually don't do is run a chainsaw hanging fifty or sixty feet above the ground. If you like danger--serious danger--well, this is the career for you.</p>

<div class="aboutMeClusterRight">
    <img src="../Content/images/aboutme/Trees/Tree_04.jpg" style="width:50%;" />

    <img src="../Content/images/aboutme/Trees/Tree_05.jpg" style="width:50%;" />

    <img src="../Content/images/aboutme/Trees/Tree_06.jpg" style="width:50%;" />

    <img src="../Content/images/aboutme/Trees/DSC_2193_edited.jpg" style="width:50%;" />

</div>

<div class="aboutMeClusterLeft">
    <img src="../Content/images/aboutme/Trees/tree2.jpg" style="width:50%;" />
    <img src="../Content/images/aboutme/Trees/Tree_03.jpg" style="width:50%;" />
</div>

<p>Knots are a big part of working in trees. Old-timers did everything with rope and knots. There were no technological devices available back then, just rope and some very clever use of knots. Another profession that uses knots extensively is sailing. Tree workers and sailors use a few of the same knots. In particular, the Bowline and the Fisherman's knot both get used a lot but there are many specialized knots that provide distinct advantages in each discipline.</p>


