@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#banner0").toggleClass("hidden");
        $("#banner6").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        $("#navsub").removeClass("hidden");
        modalAjax();
    });
</script>

<div class="pageTitle">Trees and Climbing</div>

<h2>In defense of my hobby</h2>




<div class="aboutMeFigureRight">
    <img src="../Content/images/aboutme/Trees/trees_02.jpg" />
</div>


<p>Tree climbing is as much fun as rock climbing but, for some reason, the idea of climbing trees isn't as compelling as climbing rocks even though they both use a lot of the same equipment and techniques.</p>

<p> What rock climbers do is dangerous and difficult but, one thing rock climbers usually don't do is run a chainsaw hanging forty feet above the ground.  Anyhow all I'm trying to say here is that rock climbers are a bunch of skinny sissy-boys while tree climbers are rugged, strapping men with bulging muscles. </p>

<div class="aboutMeFigureLeft">
    <img src="../Content/images/aboutme/Trees/Tree_RICHIE.JPG" />
</div>

<p>If you like danger--serious danger--well sir, this is the career for you. I say "sir" because, honestly, you don't encounter a lot of women dumb enough to be tree climbers.</p>

<div class="aboutMeStackRight">
    <img src="../Content/images/aboutme/Trees/Tree.jpg" />
    <img src="../Content/images/aboutme/Trees/DSC_2193_edited.jpg" />
</div>


<p>Old-timers did everything with rope and knots. There weren't many mechanical devices available back then—just rope and some clever knots. For most of my life the only knot I knew was the one I learned for tying my shoes. Now, I know somewhere around 30 knots. Of course I mean hitches and bends and loops and anchors and whatnot but, I'm saying 'knots' as a way to refer to all of them. I don't want to offend any knot purists out there.</p>

<div class="aboutMeStackLeft">
    <img src="../Content/images/aboutme/Trees/Tree_05.jpg" />
    <img src="../Content/images/aboutme/Trees/Tree_06.jpg" />
</div>

<p>
   Another profession that uses knots extensively is sailing but this page is about climbing trees so there's really no reason to bring up sailing aside from the fact that tree workers and sailors use a few of the same knots. Beyond that, they really don't have much in common. </p>


<div class="aboutMeFigureLeft">
    <img src="../Content/images/aboutme/Trees/Tree_03.jpg" />
</div>
<p>
    So, why does someone learn to climb trees? I have a lot of trees on my property and they need to be kept in good working order. Tree maintenance dudes are expensive. Given those two facts I thought "how hard can it be?" and so I bought some rope and a saddle, a few carabiners, a lanyard, a couple chain saws and a bunch of other stuff.
</p>