@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trees</h2>




<img src="../Content/images/aboutme/Tree_RICHIE.JPG" class="aboutMeFigureLeft clearLeft" />

<h3>lifetime pursuit</h3>
<p>When I was six I climbed so far up a tree that my parents felt it necessary to call the fire department to "rescue" me. Honestly, I could have climbed down on my own but, I did make the front page of next morning's newspaper. For reasons not entirely clear to me, I have always liked climbing trees. </p>
<br class="clearfix" style="" />


<img src="../Content/images/aboutme/tree2.jpg" class="aboutMeFigureRight clearRight" />

<p>Tree climbing is as much fun as rock climbing but, most people haven't tried it. For some reason the idea of climbing trees isn't as compelling as climbing up rocks even though they both use pretty much the same equipment and techniques. What rock climbers do is dangerous and difficult but, one thing rock climbers usually don't do is run a chainsaw hanging eighty feet above the ground. If you like danger--serious danger--there's some real danger.</p>



<img src="../Content/images/aboutme/Tree_03.jpg" class="aboutMeFigureLeft clearLeft" />


<p>Knots are a big part of working in trees. Old-timers did everything with rope and knots. There were no technological devices available back then just rope and some very clever use of knots. Another profession that uses knots extensively is sailing. Tree workers and sailors use a few of the same knots. In particular, the Bowline and the Fisherman's knot both get used a lot but there are many specialized knots that provide distinct advantages in each discipline.</p>


<img src="../Content/images/aboutme/Tree_04.jpg" class="aboutMeFigureRight clearRight" />

<p></p>


<img src="../Content/images/aboutme/Tree_05.jpg" class="aboutMeFigureRight clearRight" />

<p></p>


<img src="../Content/images/aboutme/Tree_06.jpg" class="aboutMeFigureRight clearRight" />

<p></p>



<img src="../Content/images/aboutme/DSC_2193_edited.jpg" class="aboutMeFigureRight clearRight" />


