@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#banner0").toggleClass("hidden");
        $("#banner6").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        $("#navsub").removeClass("hidden");
        modalAjax();
    });
</script>

<div class="pageTitle">Trees and Climbing</div>

<h2>In defense of my hobby</h2>


<div class="aboutMeClusterRight" style="width:24%;">
    <img src="../Content/images/aboutme/Trees/Tree.jpg" style="width: 100%; float: left;" />
    <img src="../Content/images/aboutme/Trees/DSC_2193_edited.jpg" style="width: 100%; float: left;" />
    
</div>

<p>Tree climbing is as much fun as rock climbing but, for some reason, the idea of climbing trees isn't as compelling as climbing rocks even though they both use a lot of the same equipment and techniques. What rock climbers do is dangerous and difficult but, one thing rock climbers usually don't do is run a chainsaw hanging forty feet above the ground.  Anyhow all I'm trying to say here is that rock climbers are a bunch of skinny sissy-boys while tree climbers are rugged, strapping men with bulging muscles. If you like danger--serious danger--well sir, this is the career for you. I say "sir" because, honestly, you don't encounter a lot of women dumb enough to be tree climbers.</p>



<div class="aboutMeClusterLeft">
    <img src="../Content/images/aboutme/Trees/Tree_05.jpg" style="width: 50%; float: left;" />
    <img src="../Content/images/aboutme/Trees/Tree_06.jpg" style="width: 50%; float: left;" />
    <img src="../Content/images/aboutme/Trees/Tree_RICHIE.JPG" style="width: 50%; float: left;" />
    <img src="../Content/images/aboutme/Trees/Tree_04.jpg" style="width: 50%; float: left;" />
</div>



<p>Knots are a big part of working in trees. Old-timers did everything with rope and knots. There weren't many mechanical devices available back then—just rope and some very clever use of knots. The men who did this work back in the day ran on rope. were 
    
    Another profession that uses knots extensively is sailing. Tree workers and sailors use a few of the same knots. In particular, the Bowline and the Fisherman's knot both get used a lot but there are many specialized knots that provide distinct advantages in each discipline.</p>


<div class="aboutMeClusteRight">
    

    <img src="../Content/images/aboutme/Trees/trees_02.jpg" style="width:100%;float:left;" />

</div>