@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#banner0").toggleClass("hidden");
        $("#banner6").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        $("#navsub").removeClass("hidden");
        modalAjax();
    });
</script>


<div class="pageTitle">Video</div>



<h1>Video</h1>
<h2>Stuff I Like</h2>
<h2>Stuff I Produced.</h2>
<h3>Stuff</h3>



<p>I have made a few videos. Nothing special really just taking advantage of interesting-looking scenery that presents itself. The Deer videos just happened and I was lucky enough to be able to capture them up close and personal. Listening to the background sounds is mezmerizing, I still keep watching them over and over again. </p>

<p>Everything here is an embedded YouTube file. That makes it challenging from a developer standpoint because iframes are--and always have been--a pain in the ass. Still, what are you going to do? You can't host it yourself. You wish you had that kind of bandwidth.</p>



@*Currently I'm setting the iframe width in CSS. It seems to override the local setting whch seems odd*@

<div id="videoColumn" style="clear:right;">
    <h2>Deer Up Close</h2>
    <iframe src="https://www.youtube.com/embed/gh_bUZO-cAo" title="Deer Up Close" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="videoColumn" style="">
    <h2>More Deer</h2>
    <iframe width="280" height="156" src="https://www.youtube.com/embed/X0TEqSYzTw4" title="More deer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="videoColumn" style="">
    <h2>Even More Deer</h2>
    <iframe width="280" height="156" src="https://www.youtube.com/embed/aWtYmFHWzmY" title="Deer in my backyard" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<div id="videoColumn" style="">
    <h2>Birds outside my kitchen window</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oMRUvo0lBwM" title="Birds Out My Kitchen Window" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="videoColumn" style="">
    <h2>Braddock</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DQVE1K40-Is" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<div id="videoColumn" style="">
    <h2>Cathedral</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y2buUcb72RA" title="Cathedral Of Learning" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="videoColumn" style="">
    <p>Music Playlist</p>

    <a href="https://www.youtube.com/playlist?list=PLlS3SAiUjbFvgFQyT9M-dk2Oh41gpcrmn">Tasty music playlist. Very good.</a>
</div>
<p>Car Fire </p>



