@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#banner0").toggleClass("hidden");
        $("#banner6").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        $("#navsub").removeClass("hidden");
        modalAjax();
    });
</script>


<div class="pageTitle">Video</div>



<h1>Video</h1>
<h2>Stuff I Like</h2>
<h2>Stuff I Produced.</h2>
<h3>Stuff</h3>
<br />




<h4>Videos</h4>


<p>I have produced a few videos. Nothing special, just playing around with some footage I gathered. But, some interesting-looking footage it is.</p>

<p>More videos are being prepared and uploaded to Youtube. Check back occassionally to see if there's anything new.</p>





<div style="width:50%;float:left;margin-bottom:15px;">
    <h2>Deer Up Close</h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/gh_bUZO-cAo" title="Deer Up Close" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="width: 50%; float: left; margin-bottom: 15px;">
    <h2>More Deer</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/X0TEqSYzTw4" title="More deer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="width: 50%; float: left; margin-bottom: 15px;">
    <h2>Even More Deer</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aWtYmFHWzmY" title="Deer in my backyard" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<div style="width: 50%; float: left; margin-bottom: 15px;">
    <h2>Birds outside my kitchen window</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oMRUvo0lBwM" title="Birds Out My Kitchen Window" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="width: 50%; float: left; margin-bottom: 15px;">
    <h2>Braddock</h2> 

    <iframe width="560" height="315" src="https://www.youtube.com/embed/DQVE1K40-Is" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<div style="width: 50%; float: left; margin-bottom: 15px;">
    <h2>Cathedral</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y2buUcb72RA" title="Cathedral Of Learning" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="width: 50%; float: left; margin-bottom: 15px;">
    <p>Music Playlist</p>

    <a href="https://www.youtube.com/playlist?list=PLlS3SAiUjbFvgFQyT9M-dk2Oh41gpcrmn">Tasty music playlist. Very good.</a>
</div>
    <p>Car Fire </p>



