@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#banner0").toggleClass("hidden");
        $("#banner6").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        $("#navsub").removeClass("hidden");
        modalAjax();
    });
</script>


<div class="pageTitle">Video</div>



<h1>Video</h1>
<h2>Stuff I Like</h2>
<h2>Stuff I Produced.</h2>
<h3>Stuff</h3>
<br />




<h4>Videos</h4>


<p>I have produced a few videos. Nothing special, just playing around with some footage I gathered. But, some interesting-looking footage it is.</p>

<h2>Braddock</h2> <p> this should be re-done.</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/DQVE1K40-Is" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div style="width:50%;"></div>


<h3>Deer Up Close</h3>

<iframe width="1169" height="658" src="https://www.youtube.com/embed/gh_bUZO-cAo" title="Deer Up Close" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<h2>Cathedral Copy Embed Code</h2>
<iframe width="1168" height="657" src="https://www.youtube.com/embed/y2buUcb72RA" title="Cathedral Of Learning" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Car Fire </p>

<p>Car Fire </p>



