@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#banner0").toggleClass("hidden");
        $("#banner6").removeClass("hidden");
        $("#ucAboutMe").removeClass("hidden");
        modalAjax();
    });
</script>


<div class="pageTitle">Video</div>



<h1>Video</h1>
<h2>Stuff I Like</h2>
<h2>Stuff I Produced.</h2>
<h3>Stuff</h3>
<br />




<h4>Videos</h4>


<p>I have produced a few videos. Nothing special, just playing around with some footage I gathered. But, some interesting-looking footage it is.</p>

<div style="width:50%;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DQVE1K40-Is" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<iframe width="560" height="315" src="https://youtu.be/kyPMPkjHxZI"></iframe>

<p>I have a few guitars, mostly ones I inherited but, My acoustic guitar is a Martin I purchased to reward myself for finally learning to play pretty well. </p>




