@model OkWhoa.Website.Models.IndexVM
@{
    ViewBag.Title = "Home Page";
}

<script>


    /*The Banner is unhidden and the appropriate menu(s) for the Splash page are unhidden. */
    $(document).ready(function () {
        console.log("Splash page. DesignBanner is hidden. ");
        //$("#DesignBanner").addClass("hidden");//#DesignBanner is hidden on the _Layout page
        $("#banner0").removeClass("hidden"); // this is displayed on the Splash page
        $("#sitecontent").addClass("sitecontentSplash");
        $("#adam-modal").css({ "display": "block" });

    });
</script>









<!--
<div ID="aboutmecontent">

</div> aboutmecontent -->





