@model OkWhoa.Website.Models.IndexVM
@{
    ViewBag.Title = "Home Page";
}

<script>


    /*The Banner is unhidden and the appropriate menu(s) for the Splash page are unhidden. */
    $(document).ready(function () {
        console.log("Splash page. DesignBanner is hidden. ");
        //$("#DesignBanner").addClass("hidden");//#DesignBanner is hidden on the _Layout page
        $("#banner0").removeClass("hidden"); // this is displayed on the Splash page
        $("#sitecontent").addClass("sitecontentSplash");
        $("#adam-modal").css({ "display": "block" });

    });
</script>


<h1>h1 - Text size example</h1>
<h2>h2 - Text size example</h2>
<h3>h3 - Text size example</h3>
<h4>h4 - Text size example</h4>
<h5>h5 - Text size example</h5>
<h6>h6 - Text size example</h6>




<p>This site exists for little reason other than a s a way to show off my web development skills—such as they are. Almost all the photography you see on this site was taken by me. The site was originally built as an on-line portfolio of my work history. It still serves that purpose but, has been expanded to include more about my personal life and interests beyond work. This site did not come from some "build-your-own-website" things. I built this site with my own two hands, like a real American. It recently was re-built as an MVC site to allow the addition of back-end capabilities. Currently there's nothing to do on the back end other than log in but, one day I'll get around to building a worthy app.</p>




<!--
<div ID="aboutmecontent">

</div> aboutmecontent -->
