@model OkWhoa.Website.Models.IndexVM
@{
    ViewBag.Title = "Home Page";
}

<script>


    /*The Banner is unhidden and the appropriate menu(s) for the Splash page are unhidden. */
    $(document).ready(function () {
        console.log("Splash page. DesignBanner is hidden. ");
        //$("#DesignBanner").addClass("hidden");//#DesignBanner is hidden on the _Layout page
        $("#banner0").removeClass("hidden"); // this is displayed on the Splash page
        $("#sitecontent").addClass("sitecontentSplash");
        $("#adam-modal").css({ "display": "block" });

    });
</script>


<h1>h1 - Text size example</h1>
<h2>h2 - Text size example</h2>
<h3>h3 - Text size example</h3>
<h4>h4 - Text size example</h4>
<h5>h5 - Text size example</h5>
<h6>h6 - Text size example</h6>




<p>Here's a bit of text to use to tell how readable text is likely to be at a variety of screen sizes.</p>




<!--
<div ID="aboutmecontent">

</div> aboutmecontent -->
